{% extends 'base.html.twig' %}

{% block title %}
  Hello BG
{% endblock %}

{% block body %}
  <div>
    <img src="{{ asset('images/BlackMythBoss.jpg') }}" alt="blackmyth" />
  </div>
  <div class="example-wrapper">
    <!-- Add content here to complete the structure -->
  </div>
{% endblock %}
