{% extends 'base.html.twig' %}

{% block title %}
  Hello BG
{% endblock %}

{% block body %}
  <div class="w-1/2 mx-auto justify-center flex flex-col items-center pt-10">
    <img src="{{ asset('images/BlackMythBoss.jpg') }}" alt="blackmyth" />
  </div>
  <div class="example-wrapper">
    <!-- Add content here to complete the structure -->
  </div>
{% endblock %}
