<nav>
  <ul class="flex flex-col sm:flex-row gap-x-4 bg-gray-700 text-white justify-center">
    <li>
      <a class="hover:bg-gray-900 transition-all py-4 block" href="{{ path('homepage') }}">Home</a>
    </li>
    <li>
      <a class="hover:bg-gray-900 transition-all py-4 block" href="{{ path('app_contact') }}">Contact</a>
    </li>
    <li>
      <a class="hover:bg-gray-900 transition-all py-4 block" href="{{ path('app_about') }}">Á propos</a>
    </li>
  </ul>
</nav>
