<nav>
  <ul>
    <li>
      <a href="{{ path('homepage') }}">Home</a>
    </li>
    <li>
      <a href="{{ path('app_contact') }}">Contact</a>
    </li>
    <li>
      <a href="{{ path('app_about') }}">About</a>
    </li>
  </ul>
</nav>
